.article {
  display: flex;
  /* justify-content: space-around;  */
  width: 100%;
  margin-bottom: 20px;
}

.image {
  display: block;
  margin-right: 20px;

  width: 200px;
  height: 300px;
}
.description {
  display: flex;
  flex-direction: column;
}
.description__text {
  display: flex;
}
